
<h3>Welcome <%= current_user.name %></h3>

<h1>Recipes</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Comments</th>
      <th>File</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe %></td>
        <td><%= recipe.description %></td>
        <td>
          <ul>
            <% recipe.comments.each do |comment| %>
              <li><%= comment.title %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <% if recipe.file.attached? %>
            <div class="message-file-container">
              <% if recipe.file.image? %>
                <%= image_tag recipe.file, class: "message-image", width: "100", height: "100" %>
              <% elsif recipe.file.video? %>
                <%= video_tag url_for(recipe.file), class: "message-video", controls: true, width: "200", height: "200" %>
              <% else %>
                <%= link_to "Download File", url_for(recipe.file) %>
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
