
<div class="recipe-grid">
  <div class="recipe-item">
    <h1><%= @recipe.name %></h1>
    <p><%= @recipe.description %></p>
  </div>
</div>



<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
  </div>
<% end %>

<ul>
<li><%= link_to "Edit", edit_recipe_path(@recipe) %></li>
</ul>



<ul>
  <li>
    <%= button_to 'Destroy', recipe_path(@recipe), method: :delete %>
  </li>
</ul>

<ul>
  <li><%= link_to "Back", :back %></li>
</ul>