

<div class="container mt-3">
 <div class="row p-4 ">
  <div class="col-4 ">
    <div class="img-fluid border">
      <% if @recipe.file.attached? %>
    <div class="recipe-media">
      <% if @recipe.file.image? %>
        <%= image_tag @recipe.file, class: "recipe-image img-fluid " %>
      <% elsif @recipe.file.video? %>
      <%= video_tag url_for(@recipe.file), class: "recipe-video video-fluid", controls: true, style: "width: 100%; height: auto;" %>
      <% end %>
    </div>
  <% end %>

    </div>
  </div>
  <div class="col-8">
    <h2><%= @recipe.name %></h2>
    <p class="recipe-description"><%= @recipe.description %></p>
    <h3>Main Ingredients</h3>
    <p class="recipe-ingredient"><%= @recipe.ingredient %></p>
   <div class="d-flex">
   
      <% if current_user == @recipe.user %>
     
        <%= link_to "Edit", edit_recipe_path(@recipe), class:"btn btn-success mx-1" %>
        <%= button_to 'Destroy', recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mx-1" %>
      <% else %>
        <%= link_to 'Add Comment', new_comment_path(recipe_id: @recipe.id), class: "btn btn-success" %>
        <%= link_to "View Comments", comments_path(recipe_id: @recipe.id), class: "btn btn-info" %>
        <%= link_to "Back", :back, class: "btn btn-primary mx-1" %>
      <% end %>
  
      <%= @recipe.likes.count %> likes
      <% like = current_user.likes.find_by(recipe: @recipe) %>
      <% if like.nil? %>
        <%= button_to 'Like', likes_path, params: { like: { recipe_id: @recipe.id } }, method: :post, class: "btn btn-primary mx-1" %>
      <% else %>
        <%= button_to 'Unlike', like_path(like), method: :delete, class: "btn btn-danger mx-1" %>
      <% end %>
    
   </div>
  </div>
 </div>
</div>